@charset "utf-8";

@font-face {
    font-family: 'Metropolis2';
    src: url('../fonts/Metropolis-Black.woff2') format('woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'Metropolis2';
    src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}
@font-face {
    font-family: 'Metropolis2';
    src: url('../fonts/Metropolis-Bold.woff2') format('woff2');
    font-weight: 700;
}
/*  
 @font-face {
    font-family: 'Metropolis2';
    src: url('../fonts/Metropolis-SemiBold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Metropolis2';
    src: url('../fonts/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
  }
@font-face {
    font-family: 'Metropolis2';
    src: url('../fonts/Metropolis-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Metropolis2';
    src: url('../fonts/Metropolis-Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Metropolis2';
    src: url('../fonts/Metropolis-ExtraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Metropolis2';
    src: url('../fonts/Metropolis-Thin.woff2') format('woff2');
    font-weight: 100;
}
*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #0b0b0e;
    font-family: 'Inter', sans-serif;
    color: #000000;

    animation: fadeInAnimation ease-out 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    overflow: visible; /* To Hide Scrollbar */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.preload {
    transition: 0s;
    -webkit-transition: 0s !important;
    -moz-transition: 0s !important;
    -ms-transition: 0s !important;
    -o-transition: 0s !important;
}

_:-ms-fullscreen, :root .ie-only { display: block; }
_:-ms-fullscreen, :root body { overflow: hidden; }

.ie-only {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: none;
    z-index: 99;
    position: absolute;
    color: black;
    margin: auto;
    text-align: center;
}

/* ----- UNDER CONSTRUCTION ----- */

.update {
    color: rgba(255,255,255,.5);
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
    position: absolute;
    right: 0;
    margin: 0px 30px 30px auto;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    height: 20px;
    justify-content: flex-end;
    transition: all ease-in-out .2s;
}

.update-details {
    visibility: hidden;
    opacity: 0;
    padding-bottom: 10px;
    margin-bottom: -30px;
    transition: all ease-in-out .2s;
}

.update:hover .update-details {
    visibility: visible;
    opacity: 1;
    margin-bottom: 0px;
    transition: all ease-in-out .2s;
}

.update:hover {
    height: 115px;
}

.update-header {
    display: flex;
    align-items: center;
}

.update-header img {
    width: 15px;
    padding-right: 10px;
    opacity: .5;
}

.update h4 {
    margin: 0px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
}

.update a {
    text-decoration: none;
    color: rgba(255,255,255,.75);
    cursor: text;
}

/* ----- VIMEO ----- */

/*Play Icon*/
.stroke-solid {
    stroke-dashoffset: 0;
    stroke-dashArray: 300;
    stroke-width: 4px;
}

.icon {
    transform: scale(.8);
    transform-origin: 50% 50%;
}

/*Vimeo Overlay*/
.header-video {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    overflow: hidden;
}

.header-video iframe {
    object-fit: cover;
    object-position: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    height: calc(100vw * 0.5625);
}

/*Normal*/
.flex {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 95px;
    padding-right: 8%;
    background: rgba(0, 0, 0, 0.35);
    margin-top: -150px;
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0) 50%,rgba(0, 0, 0, 0.75) 100%);
}

.flex h1 {
    color: #fff;
    font-family: 'Metropolis', 'Metropolis2', sans-serif;
    padding: 1px 0px 7px 0px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    margin: 0px;
    left: -3px;
    position: relative;
}

.flex h2 {
    color: #fff;
    margin: 0px;
    padding-bottom: 8px;
    font-size: 17px;
    font-weight: 700;
}
.flex p {
    color: #fff;
    margin: 0px;
    padding-bottom: 25px;
    font-size: 16px;
    width: 50%;
    line-height: 30px;
    min-width: 700px;
    font-weight: 500;
}
.flex h3 {
    color: #fff;
    margin: 0px;
    padding: 3px 0px 0px 0px;
    font-weight: 500;
	font-size: 15px;
    letter-spacing: .8px;
}

.vimeoButton {
    text-decoration: none;
}

.playButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 165px;
    /*! border: 1px solid transparent; */
    /*! padding: 10px 20px; */
    /*! border-width: 1px; */
    /*! border-image: linear-gradient(45deg,#0037c5,#0064ff) 1; */
	}

.playButton:hover {
    /*! background-color: rgba(255, 255, 255, 0.15); */
    /*! cursor: pointer; */
    /*! transition: all 0.1s ease 0s; */
}

#scroll-button {
    margin: 10vh auto 10px;
    height: 50px;
}

#scroll-img {
    opacity: 0.4;
    height: 50px;
}

#play {
    margin-right: auto;
}

.muted,
.stopped {
    background-color: #777;
}


.container {
    clear: both;
    overflow: auto;
}

header {
    height: 150px;
	background-image: linear-gradient(180deg,rgba(0,0,0,.6),transparent);
}
.header {
	display: flex;
    align-items: center;
	height: 90px;
	margin: 0px 95px;
}
.nav__links {
    list-style: none;
    display: flex;
}
.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.logoBtn {
    font-family: 'Merienda One', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-top: 0px;
}
.navBtn {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .8px;
    /*! margin-left: auto; */
    padding: 15px;
}
.contactBtn {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .8px;
  padding: 10px 25px;
  border-radius: 36px;
  background-color: #121212;
  margin-left: 35px;
}
.overlay--active {
    width: 100%;
}

.nav__links li a:hover {
    border-bottom: 1px solid #fff;
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.selected {
    border-bottom: 1px solid #fff;
}


.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}















/* Mobile Nav */

.menu {
    display: none;
    padding-right: 0px;
}


.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}


.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}











.under-construction {
    display: none;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    background-color: darkred;
    color: white;
}




@media only screen and (max-width: 800px) {

    .under-construction {
        display: block;
    }
}





/*

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}
*/


/* ----- FOOTER ----- */


footer  {
	/*! padding: 30px; */
    background-color: #fff;
    color: #000;
}

.footer-background {
    background-color: #f8f8f8;
    height: 250px;
    padding: 0px 60px;
}

.footer-section {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1400px;
    margin: auto;
}

.footer-left {
    display: flex;
    width: 50%;
    align-items: center;
}

.footer-right {
    display: flex;
    width: 50%;
    align-items: center;
}

.footer-zigzag-left {
    width: 20%;
    text-align: center;
}

.footer-zigzag-right {
    width: 50%;
    text-align: right;
    /*! padding-right: 50px; */
}

.footer-section img {
    width: 40px;
}

.footer-details-left {
    width: 28%;
    margin-left: 12%;
}

.footer-details-right {
    width: calc(50% - 70px);
    margin-left: 70px;
}

.footer-section h2 {
    margin: 0;
    font-family: libre baskerville;
    font-style: italic;
    font-weight: 400;
    color: #000;
    font-size: 12px;
    /*! padding-left: 33%; */
    padding-bottom: 10px;
}

.footerBtn {
    color: #000;
    display: inline-block;
    font-family: 'Metropolis', 'Metropolis2', sans-serif;
    font-weight: 900;
    text-decoration: none;
    /*! margin-left: 33%; */
    font-size: 24px;
    white-space: nowrap;
}

.footerBtn:hover {
    color: #a4253b;
}

.footer-socials {
}

.footer-socials img {
    height: 22px;
    width: 30px;
    padding-right: 7px;
    padding-top: 2px;
}


/* ----- INTRO ----- */


.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    padding: 10vh 100px;
    max-width: 1400px;
    color: #fff;
    height: 60vh;
    flex-direction: column;
}

.intro-left {
    display: flex;
    /*! flex-direction: column; */
    /*! width: 430px; */
    padding-bottom: 50px;
}

.intro-left-zigzag {
    width: 60px;
}

.intro-left h1 {
    font-family: 'Metropolis', 'Metropolis2', sans-serif;
    color: #0e7893;
    font-size: 100px;
    font-weight: 900;
    margin: 0;
    padding: 30px 0px;
}

.intro-left-arrow {
}

.intro-right {
    display: flex;
    width: calc(100% - 100px);
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}

.intro-right-sections {
    width: 33.333%;
}

.intro-right-sections img {
    width: 25px;
}

.intro-right-sections h4 {
    font-family: 'Metropolis', 'Metropolis2', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.intro-right-sections ul {
    list-style-type: none;
    padding: 0px;
}

.intro-right-sections li {
    padding-bottom: 5px;
    letter-spacing: 0.3px;
    font-size: 16px;
    color: #6e6b7d;
}


/* ----- MAIN CONTENT ----- */


.mainContent {
	margin: 0px;
	/*! padding: 30px 30px 0px 30px; */
    background-color: #fff;
	color: #1c1b20;
}

.main-background {
    background-color: #edf0f1;
    position: relative;
    height: calc(100vh - 120px);
    width: 100%;
    box-shadow: 0px 20px 30px #ccc;
}

.spacer {
    width: 100%;
    height: 30px;
    background-color: white;
}

.main-background h5 {
    position: absolute;
    margin: 0;
    padding: 50px;
    font-family: libre baskerville;
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}

.main-section {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    align-items: center;
    justify-content: center;
    height: calc(100% - 120px);
}

.main-left {
    width: 50%;
}

.main-left img {
    width: 60px;
}

.main-left h2 {
    margin: 0;
    font-family: libre baskerville;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    text-transform: none;
    padding: 0px 0px 12px;
}

.main-left h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Metropolis', 'Metropolis2', sans-serif;
}

.main-left p {
    max-width: 400px;
    width: 100%;
    line-height: 30px;
    padding-bottom: 20px;
    font-size: 14px;
}

.main-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    text-align: right;
    justify-content: center;
}

.main-right img {
    /*! height: 100%; */
    object-fit: cover;
}

.title {
    margin: 0;
    /*! margin-top: auto; */
    padding: 12px 0px 4px;
    font-weight: 600;
}

.sub-title {
    margin: 0;
    font-family: libre baskerville;
    font-style: italic;
    font-weight: 400;
    /*! color: #999; */
    font-size: 10px;
}

.moreBtn {
    color: #000;
    display: inline-block;
    padding-bottom: 3px;
    font-family: libre baskerville;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid #107dc8;
}
.moreBtn:hover {
    color: #a4253b;
}


/* ----- NAV DROPDOWN ----- */

.dropbtn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .8px;
    padding: 15px 20px 25px;
    font-family: inter;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
    /*! padding-bottom: 10px; */
    margin-left: auto;
    margin-top: 10px;
}
  
.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*! margin-top: 10px; */
    visibility: hidden;
    opacity: 0;
    transition: all ease-out .05s;
    transition-delay: .3s;
    border-radius: 10px;
}
  
.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    font-family: inter;
    align-items: center;
}
  
.dropdown-content a:hover {
      /*! background-color: #ddd; */
      color: #a4253b;
}
  
.dropdown:hover .dropdown-content {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      transition: all ease-out .15s;
}
  
.dropdown:hover .dropbtn {
      color: #cecece;
      cursor: pointer;
}

.dropdown:hover .down {
    
}

.dropdown:hover .arrow {
    border-color: #cecece;
    transition: all ease-in-out .2s;
}

.dropdown-content img {
    height: 12px;
    width: 12px;
}

