body {
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif, serif;
}

.main-site {
    display: flex;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

.main-site a {
    font-size: 50px;
    padding: 20px 50px;
    background: #111;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: all 0.1s ease 0s;
}

.main-site p {
    margin-top: auto;
}

.main-site a:hover {
    color: black;
    background: #999;
}

.old-site {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.old-site a {
    font-size: 21px;
    padding: 15px 30px;
    background: #111;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    transition: all 0.1s ease 0s;
    font-family: 'Roboto Mono', monospace;
}

.old-site a:hover {
    color: black;
    background: #999;
}
