@font-face {
    src: url("fonts/Product-Sans-Regular.ttf");
    width: auto;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
    line-height: 1.5;
    font-family: "Product Sans";
    width: 100%;
    float: left;
    background-color: #121212;
}

header  {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #1d1d1d;
    color: #e1e1e1;
    padding-top: 0px;
    float: left;
}

header p {
    margin-top: 0px;
    padding-left: 3px;
    margin-bottom: 25px;
	float: left;
	clear: left;
	font-size: 16px;
}
.homeBtn {
	float: left;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
	padding-bottom: 13px;
}
.homeBtn:after {
	margin: -8px 0px;
	display:block;
	content: '';
	border-bottom: solid 3px #ffffff;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
	transform-origin:100% 50%
}
.homeBtn:hover:after { 
	transform: scaleX(1);
	transform-origin:0 50%;
}
.container {
    float: left;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
}




.form-group .input-group .form-control {
    width: 100%;
    padding-top: 9px;
    padding-right: 0px;
    padding-bottom: 9px;
    padding-left: 15px;
    border-radius: 3px;
    border: 1px solid #868686;
    margin-bottom: 15px;
	background-color: #2d2d2d;
	color: #ffffff;
}


table {
    border-spacing: 0;
    width: 100%;
    background-color: #1e1e1e;
    font-size: 14px;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #c0c0c0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    padding-bottom: 0px;
    color: #e1e1e1;
}
.container .table.table-bordered.table-striped thead {
    background-color: #2D2D2D;
}


th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #868686;
    border-left: 1px solid #868686;
}

tr:nth-child(even) {
    background-color: #212121
}
tr td a {
    font-weight: bold;
    text-decoration: none;
    color: #e1e1e1;
    display: block;
}
tr td a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #a4253b;
}
