@charset "utf-8";
body {
    background-color: #0A141E;
}

h1  {
    font-size: 62px;
    font-weight: 800;
    color: hsla(0,0%,100%,1.00);
    margin-top: 150px;
    padding-bottom: 55px;
    text-align: center;
    letter-spacing: 0px;
}

.filters {
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    padding-top: 0px;
}




input[type=text], select {
    width: 30%;
    padding: 8px 12px;
    margin-top: 30px;
    margin-right: 33px;
    margin-left: 0px;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: hsla(0,0%,0%,0.00);
    color: hsla(0,0%,100%,1.00);
}
.filters  img  {
    -webkit-transition: all .1s ease-in 0s;
    -o-transition: all .1s ease-in 0s;
    transition: all .1s ease-in 0s;
    float: right;
    margin-top: 30px;
    margin-left: 6px;
    width: 35px;
}
.filters img:hover {
    background-color: #2E4355;
    border-radius: 4px;
}

.filters .sort {
    float: right;
    margin-top: 30px;
    margin-left: 25px;
}
.sectionAll {


}
.sectionAlt  {
    float: left;
    padding-top: 0px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.section  {
    float: left;
    background-color: #202D33;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}
.sectionAll .image  {
    float: left;
    width: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.sectionAll .poster  {
    width: 100%;
    -webkit-transition: all 0s linear 0s;
    -o-transition: all 0s linear 0s;
    transition: all 0s linear 0s;
    border: thin solid hsla(0,0%,100%,0);
    height: 180px;
}
.sectionAll .poster:hover  {
    width: 100%;
	-webkit-transition: all 0s linear 0s;
    -o-transition: all 0s linear 0s;
    transition: all 0s linear 0s;
    border: thin solid hsla(0,0%,100%,.50);
}



.sectionAll  h2 {
    float: left;
    color: hsla(0,0%,100%,1.00);
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: calc(97% - 140px);
}
.sectionAll .details {
    float: left;
    width: calc(100% - 140px);
}



.sectionAll .info  {
    float: left;
    width: 200px;
}
.sectionAll .infoTop {
    float: left;
    width: 100%;
}
.sectionAll .scoreGood {
    float: left;
    width: 100px;
    background-color: #30513d;
    border-radius: 5px;
}
.sectionAll .scoreAvg {
    float: left;
    width: 100px;
    background-color: #514430;
	border-radius: 5px;
}
.sectionAll .scoreBad {
    float: left;
    width: 100px;
    background-color: #513030;
	border-radius: 5px;
}

.sectionAll h3 {
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    margin: 0px;
    color: rgba(255,255,255,1.00);
}
.sectionAll .rank {
    width: 100px;
    float: left;
    padding-top: 15px;
}
.sectionAll h6 {
    float: left;
    width: 100%;
    font-size: 19px;
    margin: 0px;
    text-align: center;
}


.sectionAll h7 {
    width: 100%;
    margin: 0px;
    float: left;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 3px;
}
.sectionAll .infoBottom {
    float: left;
    width: 100%;
    padding-top: 18px;
}
.sectionAll ul {
    margin-top: -2px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    list-style-type: none;
}
.sectionAll ul li {
    padding-top: 0px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
}





.sectionAll .review {
    float: left;
    width: calc(50% - 200px);
    min-height: 160px;
}
.sectionAll p {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-weight: bold;
    float: left;
}



.sectionAll .date {
    float: left;
    width: 120px;
    border: 2px solid #e6e6e6;
    margin-top: 21px;
    clear: left;
}


.sectionAll h4 {
    float: left;
    width: 75%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 15px;
    background-color: #1a1a1a;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.sectionAll h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 25%;
    float: left;
    font-weight: 500;
    font-size: 15px;
    color: #1A1A1A;
    background-color: #e6e6e6;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.sectionAll .bottomRight {
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 15px;
}
.sectionAll .scoreDetails  {
    margin-top: 0px;
    margin-left: 3%;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0%;
    padding-left: 1%;
    padding-bottom: 0px;
    background-color: #395268;
    width: 150px;
    border-radius: 5px;
    float: right;
    text-align: center;
    vertical-align: middle;
}
.sectionAll .scoreTitle {
    float: left;
    width: 87px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 10px;
}
.sectionAll .scoreTitle2 {
    float: left;
    width: 87px;
    margin-top: 3px;
    margin-bottom: 1px;
    text-align: left;
    margin-left: 10px;
}



.sectionAll h8 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    letter-spacing: 0px;


}
.sectionAll h9 {
    margin: 0px;
    font-size: 33px;
    font-weight: 500;
    padding: 0px;
}
.sectionAll h10 {
    font-size: 14px;
    font-weight: 600;



}



.sectionAll .loadMore {
    float: left;
    width: 100%;
    text-align: center;
    background-image: -webkit-linear-gradient(44deg,rgba(23,25,53,1.00) 0%,rgba(18,42,43,1.00) 100%);
    background-image: -moz-linear-gradient(44deg,rgba(23,25,53,1.00) 0%,rgba(18,42,43,1.00) 100%);
    background-image: -o-linear-gradient(44deg,rgba(23,25,53,1.00) 0%,rgba(18,42,43,1.00) 100%);
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
}
