@charset "utf-8";

body {
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #121212;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

/*Play Icon*/
.stroke-solid {
    stroke-dashoffset: 0;
    stroke-dashArray: 300;
    stroke-width: 4px;
}

.icon {
    transform: scale(.8);
    transform-origin: 50% 50%;
}

/*Vimeo Overlay*/
.header-video {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 95vh;
    width: 100%;
    opacity: 0;
    overflow: hidden;
}

.header-video iframe {
    object-fit: cover;
    object-position: center;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    height: calc(100vw * 0.5625);
}

/*Normal*/
.flex {
    min-height: 95vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 95px;
    padding-right: 8%;
    background: rgba(0, 0, 0, 0.35);
    margin-top: -150px;
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0) 50%,rgba(0, 0, 0, 0.75) 100%);
}

.flex h1 {
    color: #fff;
    font-family: 'Proxima Nova Alt', sans-serif;
    padding: 0px 0px 7px 0px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    margin: 0px;
    left: -3px;
    position: relative;
}

.flex h2 {
    color: #fff;
    margin: 0px;
    padding-bottom: 8px;
    font-size: 17px;
    font-weight: 700;
}
.flex p {
    color: #fff;
    margin: 0px;
    padding-bottom: 25px;
    font-size: 16px;
    width: 50%;
    line-height: 30px;
    min-width: 700px;
    font-weight: 500;
}
.flex h3 {
    color: #fff;
	/*! font-family: 'Josefin Sans', sans-serif; */
    margin: 0px;
    padding: 3px 0px 0px 0px;
    font-weight: 500;
	font-size: 15px;
    /*! font-family: 'Merienda One', sans-serif; */
    letter-spacing: .8px;
}

.flex h4 {
    color: rgba(255, 255, 255, 0.75);
    margin: 0px;
    text-align: center;
    width: 84%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
}

.flex h4 span:after,
.flex h4 span:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    padding: 5px;
}

.vimeoButton {
    text-decoration: none;
    margin-bottom: 10vh;
}

.playButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 165px;
    /*! border: 1px solid transparent; */
    /*! padding: 10px 20px; */
    /*! border-width: 1px; */
    /*! border-image: linear-gradient(45deg,#0037c5,#0064ff) 1; */
	}

.playButton:hover {
    /*! background-color: rgba(255, 255, 255, 0.15); */
    /*! cursor: pointer; */
    /*! transition: all 0.1s ease 0s; */
}


#play {
    margin-right: auto;
}

.muted,
.stopped {
    background-color: #777;
}


.container {
    clear: both;
    overflow: auto;
}

header {
    height: 150px;
	background-image: linear-gradient(180deg,rgba(0,0,0,.6),transparent);
}
.header {
	display: flex;
    align-items: center;
	height: 90px;
	margin: 0px 95px;
}
.nav__links {
    list-style: none;
    display: flex;
}
.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.logoBtn {
    font-family: 'Merienda One', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-top: 0px;
}
.navBtn {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .8px;
    text-transform: uppercase;
    margin-left: auto;
}
.contactBtn {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .8px;
  padding: 10px 25px;
  border-radius: 36px;
  background-color: #121212;
  margin-left: 35px;
}
.overlay--active {
    width: 100%;
}

.nav__links li a:hover {
    border-bottom: 1px solid #fff;
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.selected {
    border-bottom: 1px solid #fff;
}


.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}















/* Mobile Nav */

.menu {
    display: none;
    padding-right: 0px;
}


.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}


.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}






















/*

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}
*/

footer  {
	padding: 100px 0px;
    background-color: #1a1a1a;
    color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer h1 {
	font-size: 44px;
	font-family: 'Metropolis', sans-serif;
    font-weight: 700;
	margin: 20px 0px;
}

.footer-nav h6 {
	font-size: 18px;
	font-family: 'Metropolis', sans-serif;
    font-weight: 500;
	padding: 0px 25px;
	margin: 20px 0px;
}
.footer-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer img {
	max-width: 200px;
}
.infoCol {
    padding: 0px 30px;
    margin: 0px 15px;
}
.infoCol img {
    width: 100%;
}

.mainContent {
	margin: 0px;
	padding: 100px 50px;
    background-color: #fff;
	color: #191a1e;
}

.main-Section {
    display: flex;
    max-width: 1200px;
    margin: auto;
}
.infoSection h1 {
	margin: 0px;
	padding-bottom: 20px;
	font-size: 26px;
    font-weight: 700;
	text-align: center;
}
.infoSection p  {
	font-size: 18px;
	font-weight: 500;
	margin: 0px auto;
	max-width: 1000px;
}
.checkmark {
    background-image: url("../images/check.svg");
    height: 18px;
    width: 18px;
    display: inline-block;
    margin: 0px 8px -3.5px 0px;
}
.section-left ul {
    list-style-type: none;
    padding: 0;
}
.section-left li {
    padding-bottom: 8px;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 15px;
}
.main-section {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 50px;
}
.section-left {
    /*! padding-right: 110px; */
    color: #191A1E;
    width: 50%;
}
.section-right {
    width: 30%;
    text-align: center;
    padding: 0px 10%;
}
.section-right img {
    max-height: 250px;
    object-fit: contain;
    width: 100%;
}
.section-header h1 {
    font-size: 25px;
    font-weight: 700;
}
.section-left p {
    margin: 0px 0px 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.3px;
}
.section-header img {
    padding-right: 25px;
}
.line {
    height: 1px;
    margin: 25px 0px;
    background-color: #000;
    width: 60px
}
.section-left h2 {
    font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.4);
}
.moreBtn {
    background: #e8e8e8;
    color: #000;
    display: inline-block;
    padding: 20px 30px 20px 35px;
    line-height: 0px;
    position: relative;
    text-decoration: none;
    font-weight: 500;
}
.link-arrow {
    height: 18px;
    width: 18px;
    display: inline-block;
    margin: 0px 0px -7px 8px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
}
.section-header {
    display: flex;
    max-width: 1200px;
    margin: auto;
}
.mainContent h3 {
    
    font-family: 'Cormorant Garamond', serif;
    font-weight: 900;
    text-align: center;
    font-size: 66px;
    margin: 0px 0px 80px;
}
.divider {
    
    text-align: center;
    letter-spacing: 20px;
    font-size: 45px;
    opacity: 0.5;
    height: 50px;
    padding-bottom: 80px;
}